
body{
    margin: 0;
}



/* Header */

#bar {

    background-color: cornflowerblue;
    height: 180px;
    background-repeat: repeat-x;
    background-image: url(..//img/pattern.png);
    background-position: top;
    

}

#logo {

    width: 300px;
    height: 80px;
    margin-top: 75px;
    margin-left: 10px;

}

#titolo {

    font-size: 40px;
    line-height: 35px;
    margin-left: 8px;
    margin-bottom: 0px;

}



/* Sezione due con titolo e immagini */

a{
    text-decoration: none;
}

#sottotitolo {

    font-size: 22px;
    margin-left: 8px;
    margin-bottom: 0px;
    margin-top: 5px;
    color: grey;

}

#dataScrittura {

    font-size: 15px;
    margin-left: 8px;
    margin-bottom: 0px;
    margin-top: 4px;
    color: grey;

}

#immaginiTim{

    margin-top: 20px;
    margin-left: 8px;

}

#primoParagrafoTim{

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 8px;
    font-size: 15px;

}

#secondoParagrafoTim{

    margin-top: 0px;
    margin-left: 8px;
    font-size: 15px;
}

#Lorem{

    font-size: 18px;
    margin-left: 8px;
    
}

#lista{

    padding-left: 22px;


}


#thead{
    background-color: #20A7E1;
    color: white;
    tab-size: 200;
    text-align: left;
}

td {

    height: 50px;
    width: 400px;
    margin: 0;

}

table{
    margin-left: 5px;
    border-collapse: collapse;
}

#tr1, #tr3{

    background-color: #B1E5F2;

}

#tr2{

    background-color: aliceblue;


}


h2{

    margin-left: 8px;
    font-size: 21px;
    color: grey;

}

#Lorem2{

    width: 270px;
    height: 200px;
    background-image: url(../img/monitor.jpg);
    margin-left: 8px;
    font-size: 23px;
    margin-top: 0px;
    margin-bottom: 15px;
    color: white;
}


#Lorem3{

    width: 270px;
    height: 200px;
    background-image: url(../img/graph.jpg);
    margin-left: 8px;
    font-size: 23px;
    margin-top: 0px;
    margin-bottom: 40px;
    color: white;
    text-align: start;
}

#evidenziato{
    background-color: yellow;
}